@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

.start{
	width: 100%;
	height: 100%;
	background: white;
	position: fixed;
	top: 0;
	z-index: 100;
	transition: 0.6s;
	display: flex;
	justify-content: center;
	align-items: center;
}
.preloader{
	width: 100%;
	height: 100%;
}
.hide{
	opacity: 1;
}




/*header*/

header {
  width: 100;
  height: 80px;
  background-color: #E78B37;
  display: flex;
}


.flex_container {
	display: flex;
	width: 68%;
	height: 60%;
	justify-content: space-between;
	align-items: center;
	margin-right: 130px;
	margin-top: 16px;
}

.flex_container img {
	margin-right: 10px;
	float: left;
}

#logoup img {
	width: 13%;
	margin-left: 130px;
	margin-top: 8px;	
}

.flex_item, .flex_item1 {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.flex_item:hover {
	color: #67135F;
}

a {	
	color: white; /*цвет текста в меню*/
	text-decoration: none; /*убирает подчеркивание в ссылках, здесь - это меню*/
	list-style-type: none; /*убирает маркеры в списке в меню*/
}

.flex_item_phone {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	color: #FFFFFF;
	padding: 10px 30px;
	gap: 10px;
	width: 180px;
	height: 21px;
	background: #67135F;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	border-color: #67135F;
}

.flex_item_phone:hover {
	background: #E78B37;
}

/*aboutUs*/

.aboutUs {
	width: 100%;
	overflow: hidden;

}

.banner {
	width: 100%;
	height: 568px;
	position: relative;
	background: url(images/BackSectionAboutUs.png);
}

.zagolovok {
	position: absolute;
	width: 766px;
	height: 342px;
	left: 130px;
	top: 82px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 53px;
	line-height: 65px;
	color: #FFFFFF;
}

/*анимация заголовка Летний лагерь Дракоша*/
.zagolovok {
	transform: translate(0px, 110%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.zagolovok._active {
	transform: translate(0px, 0px);
	opacity: 1;
}

.openSeason {
	position: absolute;
	width: 766px;
	height: 342px;
	left: 130px;
	top: 150px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	color: #FFFFFF;

	/*transform: translate(0px, 110%); /*скрываем объект*/
	/*opacity: 0;
	transition: all 0.8s ease 0s;*/
}

/*.openSeason._active { /*объект появляется посредством анимации*/
	/*transform: translate(0px, 0px);
	opacity: 1;
	transition: all 0.8s ease 0.4s;
}*/

.textOpenSeason {
	position: absolute;
	width: 766px;
	height: 342px;
	left: 130px;
	top: 220px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	color: #FFFFFF;
}

.bells {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: medium;
	font-size: 20px;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 30px;
	gap: 10px;
	position: absolute;
	width: 180px;
	height: 44px;
	left: 130px;
	top: 352px;
	background: #67135F;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	border-color: #67135F;
}

.bells:hover {
	background: #E78B37;
}


/*анимация кнопки "Записаться" в section aboutUs*/
.bells {
	-webkit-animation: bells 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: bells 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes bells {
  0% {
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes bells {
  0% {
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}



.textBanner {
	width: 766px;
	height: 342px;
}


/*dracon*/

.dracon {
	position: absolute;
	bottom: 0px;
	right: 10%;
	
}


/*parents*/

.parents {
	width: 100%;
	height: 560px;
	position: relative;
	background-color: white;
	display: flex;
}

.parentsCenter {
	width: 82%;
	height: 386px;
	position: relative;
	margin: auto;
}

.parentsZagolovok {
	position: relative;
	top: 0%;

	/* 36/medium/Montserrat */

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	/* identical to box height */

	text-align: center;
	color: #120352;
}

.parentsContent {
	width: 100%;
	height: 78%;
	position: absolute;
	bottom: 0px;
	display: flex;
}

.parentsContentImg {
	width: 100%;
	height: 60%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 0;
}

.itemParentsImg {
	position: relative;
	width: 20%;
	height: 100%;
	display: flex;
	transform: scale(0);
	transition: all 0.8s ease 0s;
}
.itemParentsImg._active{
	transform: scale(1);
}

.imgParents {
	position: relative;
	display: flex;
	margin: auto;
}

.parentsContentText {
	width: 100%;
	height: 35%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 0;
}

.itemParentsText {
	position: relative;
	width: 20%;
	height: 100%;
	display: flex;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #120352;
	transform: translate(0px, 50%);
	opacity: 0;
	transition: all 0.3s ease 0s;
}

.itemParentsText._active {
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 0.8s ease 0.6s;
}



/*children*/
.children {
	width: 100%;
	height: 565px;
	position: relative;
	background: url(images/BackSectionChildren.png);
	display: flex;
}

.childrenCenter {
	width: 82%;
	height: 400px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 9%;
}

.childrenZagolovok {
	position: relative;
	top: 0%;

	/* 36/medium/Montserrat */

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	/* identical to box height */

	text-align: center;
	color: #120352;
}

.childrenContent {
	width: 100%;
	height: 78%;
	position: absolute;
	bottom: 0px;
	display: flex;
}

.childrenContentText {
	width: 100%;
	height: 35%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 0;
}

.childrenContentImg {
	width: 100%;
	height: 60%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 0;
}

.itemChildrenText {
	position: relative;
	width: 20%;
	height: 100%;
	display: flex;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #120352;
}

.itemChildrenImg {
	position: relative;
	width: 20%;
	height: 100%;
	display: flex;
}

.imgChildren {
	position: relative;
	display: flex;
	margin: auto;
	width: 100%;
	border-radius: 30px;
}

.imgChildren:hover { /*картинка увеличивается при наведении на нее мышкой*/
	transform: scale(1.1);
	transition: transform 0.5s;
}


/*slider*/

.sectionSlider {
	width: 100%;
	height: 700px;
	position: relative;
	display: flex;
}

.sectionSliderBack {
	margin: auto;
	width: 90%;
	height: 90%;
	background-color: #e9e9f2;
	border-radius: 5px;
	box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.sliderZagolovok {
	position: relative;
	top: 0%;

	/* 36/medium/Montserrat */

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	/* identical to box height */

	text-align: center;
	color: #120352;
} 

* {
	margin: 0;
	padding: 0;
}

.slider {
	width: 700px;
	height: 466px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.navigation {
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.bar {
	height: 8px;
	width: 30px;
	margin: 6px;
	cursor: pointer;
	background-color: #fff;
	opacity: .6;
	border-radius: 10px;
	transition:all .4s ease;
}

.bar:hover {
	opacity: 0.8;
	transform: scale(1.2);
}

input[name="r"]{
	position: absolute;
	visibility: hidden;
}

.slides {
	width: 500%;
	height: 100%;
	display: flex;
}

.slide {
	width: 20%;
	transition: all .6s ease;
}

.slide img {
	width: 100%;
	height: 100%;
}

#r1:checked ~ .s1 {
	margin-left: 0;
}

#r2:checked ~ .s1 {
	margin-left: -20%;
}

#r3:checked ~ .s1 {
	margin-left: -40%;
}

#r4:checked ~ .s1 {
	margin-left: -60%;
}

#r5:checked ~ .s1 {
	margin-left: -80%;
}




/*costGrafik*/

.costGrafik {
	position: relative;
	width: 100%;
	height: 640px;
	background-color: white;
	display: flex;
}

.flexCostGrafik {
	width: 82%;
	height: 448px;
	position: relative;
	margin: auto;
	display: flex;
	justify-content: space-between;
	background-color: white;
}

.grafik {
	width: 45%;
}

.grafik1:after {
	content: "";
	width: 45%; 
	height: 100%;
	position: absolute; 
	background: #6B0661;
	border-radius: 40% 0% 40% 0%;
	box-shadow: 0 0 3px 1px rgba(0,0,0,.3);
}

.grafikZagolovok {
	width: 80%;
	height: 40%;
	position: relative;
	margin: auto;
	display: flex;
	
}

.divGrafikName {
	width: 300px;
	height: 73px;
	display: flex;
	margin: auto;
}

.grafikName {
	position: absolute;
	width: 300px;
	height: 88px;

	/* 36/medium/Montserrat */

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 100%;
	text-align: center;
	color: #FFFFFF;
}

.spisokGrafik {
	width: 420px;
	position: relative;
	margin: auto;
	display: flex;
}

li {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
	color: #FFFFFF;
	padding-bottom: 14px;
	padding-top: 14px;
	padding-left: 40px;
	position: relative;
}

li:before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #E78B37;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
ul {
	list-style: none;
	list-style-position: inside;
}

.list_item li { /*анимация графика заездов и стоимости путевок*/
	transform: translate(-120%, 0px);
	transition: all 0.3s ease 0s;
}
.list_item._active li {
	transform: translate(0px, 0px);
}
.list_item._active li:nth-child(1) {
	transition: all 0.8s ease 0s;;
}
.list_item._active li:nth-child(2) {
	transition: all 0.8s ease 0.2s;;
}
.list_item._active li:nth-child(3) {
	transition: all 0.8s ease 0.4s;;
}
.list_item._active li:nth-child(4) {
	transition: all 0.8s ease 0.6s;;
}


/*.grafik1 {z-index: 1;}
.grafikZagolovok {z-index: 2;}
.spisokGrafik {z-index: 3;}*/



/*Map*/

.map {
	width: 100%;
	height: 600px;
	position: relative;
	/*background: #F1A45E;*/
	display: flex;
}

iframe {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 83%;
	top: 100px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.locationZagolovok {
	position: relative;

	/* 36/medium/Montserrat */

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	/* identical to box height */


	color: #120352;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}




/*Form*/


.form {
	width: 100%;
	height: 600px;
	position: relative;
	display: flex;
}
.container {
	width: 60%;
	height: 480px;
	position: relative;
	margin: auto;
	background: linear-gradient(45deg, #e6e9f0, #eef1f5);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.container:hover { /*форма увеличивается при наведении на нее мышкой*/
	transform: scale(1.1);
	transition: transform 1s;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left-side {
	width: 50%;
	height: 100%;
	position: relative;
}

.left-side::before {
	content: "";
	position: absolute;
	height: 70%;
	width: 1px;
	background: #afafb6;
	right: -15px;
	top: 50%;
	transform: translateY(-50%);
}

.right-side {
	width: 50%;
	margin-left: 75px;
}

.details {
	margin-bottom: 25px;
	text-align: center;
}

.details i {
	font-size: 30px;
	color: #67135F;
	margin-bottom: 10px;	
}
	
.topic {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 550;
	margin-bottom: 7px;
	color: #040D5A;

}

.text-one, .text-two {
	font-family: Montserrat;
	font-size: 16px;
	color: #040D5A;
}

.input-box {
	width: 130%;
	height: 50px;
	margin: 20px 0;
}
	
.input-box input,
.input-box textarea {
	width: 100%;
	height: 100%;
	border: none;
	background: #fffff;
	padding: 0 20px;
	font-family: Roboto;
	border-radius: 10px;
}

.input-box textarea {
	resize: none;
	padding: 20px;
	font-family: Roboto;
}

.message-box {
	min-height: 60px;
}

.button {
	display: inline-block;
}

.button input[type="submit"] {
	color: white;
	background: #67135F;
	outline: none;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	font-family: Montserrat;
	transition: 0.2s;
}

.button input[type="submit"]:hover {
	background: #E78B37;
}

.error,
.error1 {   /* стили неверноего номера телефона */
	color: red;
	text-align: left;
	font-size: 12px;
	display: block;
	margin-top: 3px;
	display: none;
	font-family: 'Open Sans';
	font-weight: 400;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}
input:invalid:not(:placeholder-shown) + .error {
  display: block;
}
input:invalid:not(:placeholder-shown) + .error1 {
  display: block;
}







/*Footer*/

footer {
	width: 100;
  	height: 80px;
  	background-color: #E78B37;
  	display: flex;
	justify-content: center;
	align-items: center;
}

.flex_item_footer {
	position: absolute;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
}

